<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ご本人情報の入力</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="ui information container">
            <div class="acceptance-icon" style="border:solid 3px #4B610B;" th:if="${insOrder.insuranceType.equals('treat')}">
                <img src="/img/icon_treat.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #B40404;"
                 th:if="${insOrder.insuranceType.equals('treatLady')}">
                <img src="/img/icon_treatLady.png">
            </div>
            <div class="acceptance-icon" style="border:solid 3px #0174DF;" th:if="${insOrder.insuranceType.equals('future')}">
                <img src="/img/icon_future.png">
            </div>
            <div class="ui middle center aligned grid ">
                <div class="user-block">
                    <h1 class="ui aligned header teal">お申込み情報</h1>

                    <form class="ui form" method="post" action="/action/order/inputJob">

                        <div class="ui horizontal divider">ご本人について</div>

                        <div class="ui statement">※「＊」は入力必須項目です。</div>

                        <table class="ui celled table">
                            <tbody>
                            <tr>
                                <td>
                                    <label>お名前（漢字）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>性　　　　　　　　　　名</p>
                                    <div class="field" >
                                        <input type="text" name="kanjiFamilyName"  value style="display: inline; width: 40%" th:value="${form.kanjiFamilyName}"/>
                                        <input type="text" name="kanjiFirstName" value style="display: inline; width: 40%" th:value="${form.kanjiFirstName}"/>

                                        <p th:if="${errors.hasError('kanjiFirstName')}"
                                           th:text="${errors.getMessage('kanjiFirstName')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <label>お名前（カタカナ）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>セイ　　　　　　　　　メイ</p>
                                    <div class="field">
                                        <input type="text" name="kanaFamilyName"  value style="display: inline; width: 40%" th:value="${form.kanaFamilyName}"/>
                                        <input type="text" name="kanaFirstName"  value style="display: inline; width: 40%" th:value="${form.kanaFirstName}"/>
                                        <p th:if="${errors.hasError('kanaFamilyName')}"
                                           th:text="${errors.getMessage('kanaFamilyName')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('kanaFirstName')}"
                                           th:text="${errors.getMessage('kanaFirstName')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>お名前（ローマ字）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>Family　　　　　　　　First</p>
                                    <div class="field" th:classappend="${errors.hasError('alphabetFamilyName')} ? 'error'">
                                        <input type="text" name="alphabetFamilyName"  value style="display: inline; width: 40%" th:value="${form.alphabetFamilyName}"/>
                                        <input type="text" name="alphabetFirstName"  value style="display: inline; width: 40%" th:value="${form.alphabetFirstName}"/>
                                        <p th:if="${errors.hasError('alphabetFamilyName')}"
                                           th:text="${errors.getMessage('alphabetFamilyName')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('alphabetFirstName')}"
                                           th:text="${errors.getMessage('alphabetFirstName')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>性別</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${genderTypes}" class="field"
                                         th:classappend="${errors.hasError('gender')} ? 'error'">
                                        <input type="radio" name="gender" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{gender}"
                                               th:checked="${form.gender}==${item.code}"/>

                                    </div>
                                    <p th:if="${errors.hasError('gender')}" th:text="${errors.getMessage('gender')}"
                                       class="error-message">
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>生年月日（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p>例：1990/01/01</p>
                                    <div class="field" th:classappend="${errors.hasError('dateOfBirth')} ? 'error'">
                                        <input type="text" name="dateOfBirth" th:value="${form.dateOfBirth}"/>
                                        <p th:if="${errors.hasError('dateOfBirth')}"
                                           th:text="${errors.getMessage('dateOfBirth')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>郵便番号（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field" th:classappend="${errors.hasError('zipCode')} ? 'error'">
                                        <input type="text" class="zipcode" name="zipCode" placeholder="例：1234567" th:value="${form.zipCode}"/>
                                        <p th:if="${errors.hasError('zipCode')}"
                                           th:text="${errors.getMessage('zipCode')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご住所（全角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field" th:classappend="${errors.hasError('address1')} ? 'error'">
                                        <p> 住所１ (都道府県-市区町村)</p><input type="text" name="address1" th:value="${form.address1}"/>
                                        <p th:if="${errors.hasError('address1')}"
                                           th:text="${errors.getMessage('address1')}" class="error-message">
                                        </p>
                                        <p> 住所２ (番地-部屋番)</p><input type="text" name="address2" th:value="${form.address2}"/>
                                        <p th:if="${errors.hasError('address2')}"
                                           th:text="${errors.getMessage('address2')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>携帯電話番号（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field" th:classappend="${errors.hasError('homePhoneNumber')} ? 'error'">
                                        <input type="text" name="homePhoneNumber" placeholder="例：08011112222" th:value="${form.homePhoneNumber}"/>
                                        <p th:if="${errors.hasError('homePhoneNumber')}"
                                           th:text="${errors.getMessage('homePhoneNumber')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>緊急連絡先電話番号（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field"
                                         th:classappend="${errors.hasError('mobilePhoneNumber')} ? 'error'">
                                        <input type="text" name="mobilePhoneNumber" placeholder="例：0011112222"
                                               th:value="${form.mobilePhoneNumber}"/>
                                        <p th:if="${errors.hasError('mobilePhoneNumber')}"
                                           th:text="${errors.getMessage('mobilePhoneNumber')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>メールアドレス（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <p></p>
                                    <div class="field" th:classappend="${errors.hasError('emailAddress')} ? 'error'">
                                        <input type="text" name="emailAddress" placeholder="例：sample@docomo.ne.jp" th:value="${form.emailAddress}"/>
                                        <p th:if="${errors.hasError('emailAddress')}"
                                           th:text="${errors.getMessage('emailAddress')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>配偶者有無</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${marriedTypes}" class="field"
                                         th:classappend="${errors.hasError('married')} ? 'error'">
                                        <input type="radio" name="married" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{married}"
                                               th:checked="${form.married}==${item.code}"/>
                                    </div>
                                    <p th:if="${errors.hasError('married')}" th:text="${errors.getMessage('married')}"
                                       class="error-message">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>昨年の所得（半角）</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field" th:classappend="${errors.hasError('income')} ? 'error'">
                                        <input type="text" class="number" name="income" th:value="${form.income}"/><span
                                            class="unit">万円</span>
                                        <p th:if="${errors.hasError('income')}" th:text="${errors.getMessage('income')}"
                                           class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ご職業</label>
                                    <p style="color:red;">＊</p></td>
                                <td>
                                    <select name="職業">
                                        <option value="keiei/jieigyo">経営・自営業</option>
                                        <option value="kaisyain" selected="">会社員</option>
                                        <option value="keiyaku/hakensyain">契約・派遣社員</option>
                                        <option value="komuin">公務員</option>
                                        <option value="minkandantai" selected="">民間団体</option>
                                        <option value="syufu">主婦</option>
                                        <option value="gakusei">学生</option>
                                        <option value="nenkinzyukyusya" selected="">年金受給者の方</option>
                                        <option value="pato/arubaito">パート・アルバイト</option>
                                        <option value="sonota(yusyoku)">その他(有職)</option>
                                        <option value="sonota(musyoku)" selected="">その他(無職)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「その他 (有職）」を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <div class="field"
                                         th:classappend="|${errors.hasError('otherJob')?'error': ''} ${errors.hasError('valueOtherJob')?'error': ''}|">
                                        <input type="text" name="otherJob" th:value="${form.otherJob}"/>
                                        <p th:if="${errors.hasError('otherJob')}"
                                           th:text="${errors.getMessage('otherJob')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('valueOtherJob')}"
                                           th:text="${errors.getMessage('valueOtherJob')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>過去5年以内に、病気やケガで7日間以上にわたって医師の診察・検査・治療・投薬をうけたことがありますか</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div th:each="item : ${treatedTypes}" class="field"
                                         th:classappend="${errors.hasError('treatedTypes')} ? 'error'">
                                        <input type="radio" name="treated" th:value="${item.code}"
                                               th:text="${item.label}" th:field="*{treated}"
                                               th:checked="${form.treated}==${item.code}"/>
                                    </div>
                                    <p th:if="${errors.hasError('treated')}" th:text="${errors.getMessage('treated')}"
                                       class="error-message">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>「はい」 を選んだ方は内容をご記入下さい（全角）</label>
                                </td>
                                <td>
                                    <div class="field1"
                                         th:classappend="|${errors.hasError('medicalHistory')?'error': ''} ${errors.hasError('valueMedicalHistory')?'error': ''}|">
                                        <input type="text" name="medicalHistory" placeholder="例：交通事故で1か月入院した　など" th:value="${form.medicalHistory}"/>
                                        <p th:if="${errors.hasError('medicalHistory')}"
                                           th:text="${errors.getMessage('medicalHistory')}" class="error-message">
                                        </p>
                                        <p th:if="${errors.hasError('valueMedicalHistory')}"
                                           th:text="${errors.getMessage('valueMedicalHistory')}" class="error-message">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui column grid">
                            <div class="eight wide column left aligned">
                                <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                <button class="ui button angle left icon"
                                        onclick="form.action='/action/order/backToAccept';return true">戻る
                                </button>
                            </div>
                            <div class="eight wide column right aligned">
                                <button class="ui teal button angle right icon">次へ（お勤め先情報の入力）</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
